@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-height: 70px;
    --color-primary: 114 137 218;
    --color-primary-dark: 81 102 173;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {

  body {
    @apply bg-slate-800;
    @apply text-white;
    color: 30, 41, 59;
  }

  #content-wrapper {
    @apply mt-[var(--navbar-height)];
  }

  .btn {
    @apply inline-block;
    @apply rounded-md;
    @apply transition;
    @apply duration-150;
    @apply text-center;
    @apply text-white;
    @apply focus:outline-none;
    @apply font-medium;
    @apply px-4;
    @apply py-2;
    @apply cursor-pointer;
  }

  .btn-secondary {
    @apply bg-gray-600;
    @apply hover:bg-gray-700;
    @apply focus:bg-gray-600;
  }

  .code-line {
    @apply bg-gray-800;
    @apply text-gray-300;
    @apply rounded-md;
    @apply p-1;
  }
}